@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #121212;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    color: #fff;
}

.input-group input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
}

.input-group svg {
    color: gray;
}